
{{ if .IsPage }}
<script src="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/markdown/markdown.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let deck = new Reveal(document.querySelector('.reveal'), {
            embedded: true,
            hash: true,
            // These settings ensure the slides "fit" the container
            width: 960,
            height: 700,
            margin: 0.1,
            minScale: 0.2,
            maxScale: 2.0,
            plugins: [ RevealMarkdown ]
        });
        deck.initialize();
    });

    function toggleFullScreen() {
        const elem = document.querySelector('.reveal-wrapper');
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
        }
    }
</script>
{{ else }}
  {{/* This is a list/section page */}}
{{ end }}

