<nav class="navbar navbar-expand-lg navbar-light bg-body border-bottom fixed-top">
  <div class="container-fluid px-4">
      <div class="d-flex align-items-center">
          <a class="navbar-brand me-2" href="{{ site.Home.RelPermalink }}">
            <img src="{{ "apple-touch-icon.png" | relURL }}" 
            class="img-circle img-thumbnail avatar"
            style="vertical-align:middle; border-radius:50%; width:3rem" 
            alt="avatar">
          </a>
          <div class="d-flex flex-column">
              <a href="{{ site.Home.RelPermalink }}" class="h4 text-decoration-none mb-0 lh-1 fw-bold">
                {{ .Site.Title }}
              </a>
              <div class="dropdown">
                  <small id="languageBtn" data-code={{$.Site.Home.Language.Lang}} class="dropdown-toggle" 
                      type="button" id="languageBtn" data-bs-toggle="dropdown" aria-expanded="false">
                    {{$.Site.Home.Language.LanguageName}}
                  </small>
                  <ul class="dropdown-menu shadow-sm border-0">
                    {{ range .Translations }}
                    <li>
                      <a class="dropdown-item" data-code="{{.Language.Lang}}" href="{{ .Permalink }}">
                        {{ .Language.LanguageName }}
                      </a>
                    </li>
                    {{ end }}
                  </ul>
              </div>
          </div>
      </div>
          
      <!-- Load Content Type Specific Menu Items-->
      {{ if templates.Exists ( printf "_partials/header/menu-%s.html" .Type ) }} 
        
            {{ $partialPath := printf "header/menu-%s" .Type }} 
            {{ partial $partialPath . }} 

      {{ end }}

         
  </div>
</nav>

