{{/* Load main stylesheet safely */}}

{{ $style := resources.Get "css/design-system.css" }}

{{ if $style }}
  {{ $style = $style | fingerprint }}

  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    integrity="{{ $style.Data.Integrity }}"
    crossorigin="anonymous"
  >
{{ end }}

{{/* Load content-type specific stylesheets */}}

{{ with .Type }}
  {{ $partialPath := printf "stylesheets/stylesheets-%s" . }}

  {{ if templates.Exists (printf "partials/%s.html" $partialPath) }}
    {{ partial $partialPath $ }}
  {{ end }}
{{ end }}