{{ if .TableOfContents }}
<aside id="document-article-toc" class="col-lg-3 d-none d-lg-block border-start bg-light-subtle">
    <div class="sticky-top py-5 ps-4" style="top: 80px;">
        <h6 class="text-uppercase fw-bold small text-muted mb-3">{{ partial "docs/text/i18n" "On this page" }}</h6>
        <nav id="TableOfContents" class="toc-nav">
            <nav id="TableOfContents">
                <ul>
                {{/* 1. Call our reusable utility partial */}}
                {{- $englishAnchors := partial "docs/get-english-anchors.html" . -}}

                {{/* FIX: Strip out all code blocks (```...```) before looking for headings */}}
                {{- $cleanContent := replaceRE `(?s)\x60{3}.*?\x60{3}` "" .RawContent -}}

                {{/* 2. Find genuine headings only in the sanitized content area */}}
                {{- $currentHeadings := findRE `(?m)^#{2,3}\s+.+` $cleanContent -}}
                
                {{- range $index, $heading := $currentHeadings -}}
                    {{- $cleanText := replaceRE `^#{2,3}\s+` "" $heading -}}
                    
                    {{- $anchorId := "#" -}}
                    {{- if and $englishAnchors (lt $index (len $englishAnchors)) -}}
                        {{- $anchorId = index $englishAnchors $index -}}
                    {{- end -}}

                    {{- $isH3 := hasPrefix $heading "###" -}}
                    <li class="{{ if $isH3 }}ps-3{{ end }}">
                        <a class="small" href="#{{ $anchorId }}">{{ $cleanText }}</a>
                    </li>
                {{- end -}}
                </ul>
            </nav>
        </nav>
        
        </div>
</aside>

{{ end }}