<li class="nav-item">
    <a class="nav-link text-dark px-3" href="#" title="Books">
        <i class="bi bi-book fs-3 fs-lg-5"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark px-3" href="#" title="Slides">
        <i class="bi bi-file-earmark-slides fs-3 fs-lg-5"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark px-3" href="#" title="Videos">
        <i class="bi bi-play-circle fs-3 fs-lg-5"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark px-3" href="#" title="Links">
        <i class="bi bi-link-45deg fs-3 fs-lg-5"></i>
    </a>
</li>