{{ if .IsPage }}
<button class="navbar-toggler border-0 flex-shrink-0 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarIcons">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse bg-transparent" id="navbarIcons">
  <ul class="navbar-nav ms-auto d-flex flex-row justify-content-evenly justify-content-lg-end mt-3 mt-lg-0 pb-2 pb-lg-0">

<li class="nav-item"><a class="nav-link px-3"
   href="javascript://" 
   title="{{ partial "docs/text/i18n" "Full Screen" }}"
   onclick="toggleFullScreen()">
  <i class="bi bi-arrows-fullscreen fs-4"></i>
</a></li>
</ul>
</div>

{{ else }}
  {{/* This is a list/section page */}}
{{ end }}