<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>


  {{ block "head" . }}{{ partial "head" . }}{{end}}

  {{ if templates.Exists ( printf "partials/head-%s.html" .Type ) }}
  {{ $partialPath := printf "head-%s" .Type }}
  {{ partial $partialPath . }}
  {{ end }}


</head>

<body>
  
 
{{- .Content -}}



  {{ if templates.Exists ( printf "partials/scripts-%s.html" .Type ) }}
  {{ $partialPath := printf "scripts-%s" .Type }}
  {{ partial $partialPath . }}
  {{ end }}
    
  {{/* Check if the current file name is welcome.htm */}}
{{ if and .File (eq .File.LogicalName "welcome.html") }}
{{ $welcomeJs := resources.Get "js/welcome-bundle.js" | resources.Minify | resources.Fingerprint }}
{{ with $welcomeJs }}
  <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
{{ end }}
{{ end }}
  
</body>

</html>