<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>

  {{ block "head" . }}
    {{ partial "head" . }}
  {{ end }}

  {{ if templates.Exists (printf "partials/head-%s.html" .Type) }}
    {{ $partialPath := printf "head-%s" .Type }}
    {{ partial $partialPath . }}
  {{ end }}

</head>

<body>

  {{- .Content -}}

  {{ if templates.Exists (printf "partials/scripts-%s.html" .Type) }}
    {{ $partialPath := printf "scripts-%s" .Type }}
    {{ partial $partialPath . }}
  {{ end }}

  {{/* Load welcome page JS safely */}}
  {{ if and .File (eq .File.LogicalName "welcome.html") }}

    {{ $welcomeJs := resources.Get "js/welcome-bundle.js" }}

    {{ with $welcomeJs }}
      {{ $welcomeJs = . | fingerprint }}

      <script
        src="{{ $welcomeJs.RelPermalink }}"
        integrity="{{ $welcomeJs.Data.Integrity }}"
        defer>
      </script>
    {{ end }}

  {{ end }}

</body>

</html>